h2, h3 {
    border-bottom: 1px solid red;
}
h2 {
    clear: both;
}

figure {
    float: right;
    width: 40%;
    margin-left: 1rem;
}
figure img {
    width: 100%;
}

.tet {
    float: left;
    width: 25%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
}
.tet img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    clear: both;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background: lightyellow;
    border: 1px solid red;
    padding: 1rem;
    width: auto;
    margin: 1rem;
}