header, main, footer {
    width: 90%;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}
h2, h3 {
    border-bottom: 1px solid red;
    padding-bottom: 1rem;
}
h2 {
    clear: both;
}
footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: lightyellow;
    border: 1px solid red;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    padding: 1rem 0;
}

figure {
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
figure img {
    width: 100%;
    height: auto;
}

#tetlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}
.tet {
    flex: 1 0 250px;
    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}
.tet img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.tet .name {
    display: block;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}
.tet .aliases {
    text-align: left;
    margin: 1em;
    font-size: 1rem;
    line-height: 2;
}