body {
    font-family: 'Helvetica';
    background: lightgrey;
    color: cornflowerblue;
}

header {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: seashell;
    text-align: center;
    border-radius: 10px;
    border: 3px solid cornflowerblue;
}

header h1 {
    font-size: 2.5rem;
}

hr {
    height: 3px;
    background: cornflowerblue;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background: seashell;
    border-radius: 10px;
    border: 3px solid cornflowerblue;
}

blockquote { 
   background-color: lightgrey;
   color: black;
   padding: 1rem;
   border-radius: 10px;
   border: 3px solid cornflowerblue;
}

footer {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: seashell;
    text-align: center;
    border-radius: 10px;
    border: 3px solid cornflowerblue;
}